@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Poppins'),
        url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Poppins'),
        url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z11lFd2JQEl8qw.woff2) format('woff2');
}
body {
    font-family: 'Poppins', sans-serif;
}
.mainContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    min-height: 100vh;
}

.dataContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 600px;
    min-height: 600px;
    padding: 0 15px;
    width: 100%;
}
.wave-messages {
    position: relative;
}
.wave-messages-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(#9f9f9f, 20%, transparent);
    border-top-left-radius: 0.25rem; /* 4px */
    border-top-right-radius: 0.25rem;
}
