.mainContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 100vh;
}

.dataContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 600px;
    height: 400px;
    padding: 0 15px;
}

@media screen and (max-width: 767px) {
    .dataContainer {
        height: min(100%, 800px);
    }
    .waveButton {
        width: 100%;
    }
}
